.modalBg {
	background: rgba(169, 169, 169, 0.568);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
}

.flex-container {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-window {
	background: white;
	position: fixed;
	z-index: 1;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border: 3px solid  lightgray;
}

.headerClose {
	right: 0;
	color: red;
	top: 0;
	position: absolute;
	margin-right: 1%;
	margin-top: 1%;
	font-size: 1.3em;
	cursor: pointer;
}

img{
	min-width:10vw;
	min-height: 10vw;
	width: 20% ;
	height: 20% ;
}

.overflow-container{
	margin-top:3.5vh;
	overflow-y: scroll;
	max-height:50vh;
}


@media only screen and (max-width: 767px) {
	/* phones */
	.modal-window{
		width: 100vw;
		
	}
}
